.stage .banner .controls:before, .stage .banner .controls:after {
  content: " ";
  display: table;
}
.stage .banner .controls:after {
  clear: both;
}

.stage .banner .controls {
  list-style: none;
  padding: 0;
  margin: 0;
}
.stage .banner .controls > li {
  float: left;
}

@font-face {
  font-family: 'dosissemibold';
  src: url("../fonts/dosis-semibold-webfont.eot");
  src: url("../fonts/dosis-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dosis-semibold-webfont.woff") format("woff"), url("../fonts/dosis-semibold-webfont.ttf") format("truetype"), url("../fonts/dosis-semibold-webfont.svg#dosissemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  background: url('../img/main-background.jpg?1354256838') 10% 70% repeat;
  font-family: dosissemibold, sans-serif;
}

.stage header {
  background: url('../img/main-header.png?1354256838') 0 0 no-repeat;
  width: 1205px;
  height: 82px;
  margin: 20px auto;
}
.stage > .inner {
  position: relative;
  width: 1226px;
  margin: 0 auto;
}
.stage .intro-container {
  background: transparent url("/public/img/intro-screen-01.jpg") center center no-repeat;
  width: 1024px;
  height: 640px;
  position: absolute;
  top: 0;
  left: 101px;
  z-index: 100;
}
.stage .credits-container {
  display: none;
  background: transparent url("/public/img/credits-screen.jpg") center center no-repeat;
  width: 1024px;
  height: 640px;
  position: absolute;
  top: 0;
  left: 101px;
  z-index: 100;
}
.stage .credits-container.is-active {
  display: block;
}
.stage .credits-container .btn {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 29px;
  height: 29px;
}
.stage .credits-container .btn.dan {
  top: 218px;
}
.stage .credits-container .btn.magnus {
  top: 366px;
}
.stage .credits-container .btn.roger {
  top: 291px;
}
.stage .credits-container .btn.noah {
  top: 437px;
}
.stage .credits-container .twitter {
  background: url('../img/twitter-btn.png?1354383699') 0 0 no-repeat;
  right: 340px;
}
.stage .credits-container .linkedin {
  background: url('../img/linkedin-btn.png?1354383716') 0 0 no-repeat;
  right: 305px;
}
.stage .credits-container .github {
  background: url('../img/github-btn.png?1354383729') 0 0 no-repeat;
  right: 305px;
}
.stage .next-intro-btn {
  cursor: pointer;
  position: absolute;
  top: 340px;
  left: 580px;
  z-index: 200;
  background: url('../img/next_button.png?1354327843') 0 0 no-repeat;
  width: 49px;
  height: 49px;
}
.stage .next-intro-btn:hover {
  background: url('../img/next_button_hover.png?1354327843') 0 0 no-repeat;
}
.stage .next-intro-btn.play-now {
  background: url('../img/play_btn.png?1354327843') 0 0 no-repeat;
  width: 183px;
  height: 53px;
  top: 310px;
  left: 690px;
}
.stage .next-intro-btn.play-now:hover {
  background: url('../img/play_btn_hover.png?1354327843') 0 0 no-repeat;
}
.stage .bricks {
  z-index: 5;
  position: absolute;
  top: 0;
  background: url('../img/brick-border-background.jpg?1354327843') 0 0 repeat-y;
  width: 75px;
  height: 640px;
  border-color: #797052;
}
.stage .bricks.left {
  left: 102px;
  border-right-width: 2px;
  border-right-style: solid;
  -webkit-box-shadow: -5px 0 10px #3e3e3e;
  -moz-box-shadow: -5px 0 10px #3e3e3e;
  box-shadow: -5px 0 10px #3e3e3e;
}
.stage .bricks.right {
  right: 102px;
  border-left-width: 2px;
  border-left-style: solid;
  -webkit-box-shadow: 5px 0 10px #3e3e3e;
  -moz-box-shadow: 5px 0 10px #3e3e3e;
  box-shadow: 5px 0 10px #3e3e3e;
}
.stage .banner {
  z-index: 10;
  position: relative;
  background: url('../img/banner-background.jpg?1354256838') 0 0 no-repeat, url('../img/banner-corner.png?1354256838') left bottom no-repeat, url('../img/banner-corner.png?1354256838') right bottom no-repeat;
  width: 1226px;
  height: 140px;
}
.stage .banner .btn {
  position: absolute;
  top: 20px;
  cursor: pointer;
}
.stage .banner .btn:hover {
  top: 21px;
}
.stage .banner .btn.info {
  left: 60px;
}
.stage .banner .btn.credits {
  right: 60px;
}
.stage .banner .controls {
  width: 375px;
  margin: 0 auto;
}
.stage .banner .controls > li {
  padding-top: 20px;
  margin-left: 10px;
}
.stage .banner .controls > li:first-child {
  margin-left: 0;
}
.stage .banner .controls > li img {
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}
.stage .banner .controls > li .description {
  display: block;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 2px 5px #454545;
}

#gamescape {
  display: block;
  background-color: #fafafa;
  margin: 0 auto;
  background: url('../img/level-asset-background-01.png?1354380842');
}
#gamescape.level2 {
  background: url('../img/level-asset-background-02-dev.png?1354380842');
}
#gamescape.level3 {
  background: url('../img/level-asset-background-03.png?1354380842');
}
